@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;

}

body {
  font-family: "poppins";
  background-color: #222831;
  color: white;
  background-image: url(../imgs/waterpatterm.png);
  background-repeat: no-repeat;
  background-position-y: -16%;
  background-size: contain;
}

.home {
  position: relative;
  width: 100%;
}



header {
  position: sticky;
  top: 0;
  transition: 0.5s ease-in;
  padding: 0px 10%;
  z-index: 3;
}

nav {
  padding: 20px 0%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav img {
  width: 180px;
  cursor: pointer;
}

.navList li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
  cursor: pointer;
}

.navList a {
  text-decoration: none;
  background-size: contain;
  background-position: center;
  font-weight: bold;
  position: relative;
  color: white;
}

.navList a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #00adb5;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
  color: #00adb5;
}

.navList a:hover::after {
  width: 100%;
}

.navList a:hover {
  color: rgb(230, 230, 230);
}

.onScroll {
  background-color: #393e46;
}

.firstSection {
  display: flex;
  justify-content: space-between;
  padding: 0px 7% 0px 10%;
}

.helloText {
  font-weight: 700;
  font-size: 18vw;
  letter-spacing: -0.02em;
  color: #393e46;
  font-style: normal;
  font-weight: 700;
  position: relative;
  left: -3vh;
  top: -6vh;
  opacity: 0.5;
  user-select: none;
}

.follow {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  z-index: 1;

}

.follow .design {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

}

.textFollowMe {
  transform: rotate(90deg);
  height: 130px;
  font-size: 24px;
}

.follow hr {
  margin-top: 1vh;
  margin-right: 1vh;
  height: 210px;
  width: 7px;
  background: #00adb5;
  border: 0;
}

.social {
  position: relative;
  margin-top: 4vh;
  left: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social:hover {
  filter: invert(100%) sepia(5%) saturate(7449%) hue-rotate(150deg) brightness(113%) contrast(123%);
}

.social .logo {
  position: absolute;
  width: 27px;
  height: 27px;
  z-index: 1;
}

.introSection {
  position: relative;
  top: -41.5vh;
  padding: 0px 10%;
  display: flex;
}

.introSection .text {
  position: relative;
  font-size: 5vw;
  line-height: 80px;
  z-index: 2;
  display: inline-block;
  margin-right: 10%;
}

.text .khan {
  color: #00adb5;
}

.introSection .line {
  border: 0;
  height: 5px;
  background: #00adb5;
  animation-name: line;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes line {
  from {
    width: 0%;
  }

  to {
    width: 85%;
  }
}

.introduction {
  position: relative;
  line-height: 36px;
  display: inline-block;
  font-size: 22px;
}

.introSection .pic {
  position: relative;
  transform: rotate(-45deg);
  z-index: 1;
  display: flex;
  align-items: flex-end;
  z-index: 1;
}

.pic .bgPic {

  width: 460px;
  height: 460px;
  background-color: #00adb5;
  border-radius: 100px;
}

.pic .picCropper {
  position: absolute;
  width: 576.79px;
  height: 635.2px;
  border-radius: 100px;
  overflow: hidden;
}

.pic .picCropper img {
  position: absolute;
  transform: rotate(45deg);
}

.dividerCurve {
  position: absolute;
  top: -13%;
  right: -13%;
  width: 560px;
  height: 560px;
  background-color: #00adb5;
  border-radius: 100px;
  z-index: -3;
}

.dividerbgSquare {
  position: absolute;
  top: -14.2%;
  right: -14.2%;
  width: 560px;
  height: 560px;
  border-radius: 100px;
  z-index: -2;
  background-color: #222831;
  background-image: url(../imgs/waterpatterm.png);
  background-position: left;
  background-size: auto;

}

.dividerRectangularbg {

  position: absolute;
  width: 50%;
  background-color: #222831;
  height: 800px;
  left: 30%;
  top: -41.9%;
  transform: rotate(135deg);
  z-index: -1;
  background-image: url(../imgs/waterpatterm.png);
  /* background-repeat: no-repeat; */
  background-size: auto;
}

.divider {
  background-color: #00adb5;
  border: 0;
  height: 5px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 68%;
}



.home .quote {
  position: relative;
  display: inline;
  font-size: 24px;
  left: 10%;
  bottom: 45vh;
}

.aboutMe {
  width: 100%;
  position: relative;
  top: -20vh;
}

.services {
  background-color: #1d222a;
  position: relative;
  width: 100%;
  height: 528px;
}

.services .bgText {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 100px;
  color: #393e46;
  font-weight: 700;
  opacity: 0.5;
  letter-spacing: -0.02em;
  top: -10vh;
}

.services .frontText {
  display: flex;
  justify-content: center;
  position: relative;
  top: -24.5vh;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.services .list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.8%;
  top: -8vh;
  z-index: 1;
}

.list .myservice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 225px;
  width: 225px;
  background-color: #222831;
  border-radius: 24px;

}

.list .myservice:hover {
  background-color: #393e46;

}


.list .myservice div {
  font-size: 20px;
  margin-top: 20px;
  font-style: normal;
}

.aboutMe .services .designSquare {
  position: relative;
  width: 635.96px;
  height: 635.96px;
  border-radius: 100px;
  transform: rotate(-45deg);
  background: #393e46;
  left: -20%;
  bottom: 25%;

}

.aboutMe .services .designBorder {
  position: relative;
  width: 698px;
  height: 698px;
  border-radius: 100px;
  border: 5px dashed #00adb5;
  display: inline-block;
  transform: rotate(-45deg);
  left: -22%;
  bottom: 152%;
  background-position-x: 0px;


}

.bgText {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 100px;
  color: #393e46;
  font-weight: 700;
  top: -0.8em;
  opacity: 0.5;
}

.frontText {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.02em;
  top: -4.5em;
}

.skills .list {
  position: relative;
  top: -5em;
  display: flex;
  flex-direction: column;
  padding: 0px 22%;
}

.skills .listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4%;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.listItem .bar {
  width: 60%;
}

.listItem .bar .whitebar {
  position: absolute;
  width: 30%;
  height: 20px;
  background-color: white;
  border-radius: 50px;
  border: 0;
}

.listItem .bar .prog-bar {
  position: absolute;
  display: inline-block;
  border: 0;
  background-color: #00adb5;
  border-radius: 50px;
}

.listItem .bar .progDesign {
  height: 20px;
  width: 18%;
  animation-name: progDesign;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function:step-end;
}


.listItem .bar .progWordpress {
  height: 20px;
  width: 27%;
}

.listItem .bar .progMarketing {
  height: 20px;
  width: 12%;
}

.listItem .bar .progAndroidFront {
  height: 20px;
  width: 25%;
}

.listItem .bar .progAndroidBack {
  height: 20px;
  width: 15%;
}

.listItem .bar .progWeb {
  height: 20px;
  width: 20%;

}

.portfolio {
  position: relative;
  top: -3em;




}

.portfolio .bg {
  background-color: #1d222a;
  width: 100%;
  height: 460px;
  position: absolute;
}

.work {
  position: relative;
  top: -5em;
  display: flex;
  gap: 6vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.line {
  display: flex;
  gap: 3%;
  align-items: center;
  justify-content: center;
}

.line img {
  cursor: pointer;
}

.line img:hover {}

.work button {
  position: relative;
  top: 1.5em;
  width: 15%;
  padding: 7px;
  font-family: 'poppins';
  background-color: #393e46;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.work button:hover {

  background-color: #00adb5;
}


.contact {
  width: 100%;
  height: 400px;
  background-color: #1d222a;
  display: flex;
  align-items: center;



}



.contact .left {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 10%;
  font-size: 20px;

}

.contact .left .text {
  font-size: 40px;
  font-family: 'poppins';
  margin-bottom: 20px;

}

.contact .left button {
  padding: 10px;
  width: 75%;
  border-radius: 7px;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  background-color: #393e46;
  color: white;
  margin-top: 20px;
}

.contact .left button:hover {
  background-color: #00adb5;
}


.contact .right {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: 10%;
}

.contact .right .inputText {
  width: 100%;

  border-radius: 7px;
  background-color: #393e46;
  margin-bottom: 10px;
  border: 0;
  padding: 10px;
  font-size: 20px;
  font-family: 'cursive', sans-serif;
  color: white;

}


.contact .textArea {
  border-radius: 7px;
  border: 0;
  width: 100%;
  background-color: #393e46;

  resize: none;
  height: 150px;
  padding: 10px;
  font-size: 20px;
  font-family: 'cursive', sans-serif;
  margin-bottom: 10px;
  color: white;


}

.contact .right #btnSubmit {
  padding: 10px;
  width: 20%;
  border-radius: 7px;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  background-color: #393e46;
  color: white;

}

.contact .right #btnSubmit:hover {
  background-color: #00adb5;

}